body {
  background-image: url("https://media.istockphoto.com/id/1145184319/nl/foto/abstracte-zeshoeken-achtergrond.jpg?b=1&s=170667a&w=0&k=20&c=Ixi8Eu-5VwKHBCCd2Vl5AJuTz6GyBZ74QYO7awsJgn4=");
  background-repeat: no-repeat;
  background-size: cover;
}
